/* Default styles */
/* font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.2; */
:root {
  /* Fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Colors */
  --main-cl: #2e2f42;
  --accent-cl: #e7e9fc;
  --white-cl: #fff;
  --light-cl: #F4F4FD;
  --secondary-cl: #4D5AE5;
  --dark-cl: #434455;
  /* BackgroundColors */
  --main-bg-cl: #fff;
  --modal-bg-cl: #2E2F42;
  --light-bg-cl: #F4F4FD;
  --beige-bg-cl: #fcf1e0;
  --pressed-bg-cl: #404BBF;
  /* Other */
  --header-fw: 700;
  --medium-fw: 500;
  --body-fs: 16px;
  --header-fs: 20px;
  --main-lh: 1.5;
  --main-lt-space: 0.02em;
  --header-lt-space: 0.04em;
}

body {
  font-family: var(--main-font);
  font-size: var(--body-fs);
  color: var(--dark-cl);
  background-color: var(--main-bg-cl);
  line-height: var(--main-lh);
  letter-spacing: var(--main-lt-space);
}

.header-logo,
.footer-logo {
  color: var(--secondary-cl);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-accent {
  color: var(--main-cl);
}

.header-logo,
.footer-logo,
.header-nav-studio,
.header-nav-portfolio,
.header-nav-contacts,
.contacts-link,
.project-cards-link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-nav-studio,
.header-nav-portfolio,
.header-nav-contacts {
  color: var(--main-cl);
  font-weight: var(--medium-fw);
}

.contacts-link {
  color: var(--dark-cl);
  font-style: normal;
}

.hero-title {
  color: var(--white-cl);
  text-align: center;
  font-size: 56px;
  font-weight: var(--header-fw);
  line-height: 1.07;
  letter-spacing: var(--main-lt-space);
}

.hero-btn {
  color: var(--white-cl);
  font-family: inherit;
  font-size: var(--body-fs);
  font-weight: var(--medium-fw);
  line-height: var(--main-lh);
  letter-spacing: var(--header-lt-space);
  background-color: var(--secondary-cl);
  cursor: pointer;
}

.features-title {
  color: var(--main-cl);
  font-size: var(--header-fs);
  font-weight: var(--medium-fw);
  letter-spacing: var(--main-lt-space);
}

p,
.features-text {
  color: var(--dark-cl);
  font-size: var(--body-fs);
}

.filter-btns-link {
  color: var(--secondary-cl);
  font-family: inherit;
  font-size: var(--body-fs);
  font-weight: var(--medium-fw);
  line-height: var(--main-lh);
  letter-spacing: var(--header-lt-space);
  cursor: pointer;
}

.header-nav-studio:hover,
.header-nav-studio:focus,
.header-nav-portfolio:hover,
.header-nav-portfolio:focus,
.header-nav-contacts:hover,
.header-nav-contacts:focus,
.header-nav-link:hover,
.header-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-bg-cl);
}

.hero-btn-link:hover,
.hero-btn-link:focus {
  background-color: var(--pressed-bg-cl);
}

.filter-btns-link:hover,
.filter-btns-link:focus {
  color: var(--white-cl);
  background-color: var(--pressed-bg-cl);
}

.features,
.teamcards {
  font-size: var(--header-fs);
  font-weight: var(--medium-fw);
  line-height: var(--header-lh);
}

.what-are-we-header,
.teamcards-header {
  color: var(--main-cl);
  font-size: 36px;
  font-weight: var(--header-fw);
  line-height: 1.11;
  letter-spacing: var(--main-lt-space);
  text-align: center;
  text-transform: capitalize;
}

.teamcards,
.filter-btns-link {
  background-color: var(--light-bg-cl);
}

.teamcards-content {
  background-color: var(--main-bg-cl);
}

.footer-logo-accent,
.footer-text {
  color: var(--light-cl);
}

.hero,
.footer-bg {
  background-color: var(--modal-bg-cl);
}