/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: sans-serif;
  color: #111111;
}
/* reset styles */

/**
  |============================
  | Header styles
  |============================
*/

:root {
  --brand-color: ;
}

.btn {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
